@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

/* putting like below enables all elements having these styles */
/* content-box gives you the default CSS box-sizing behavior. If you set an element's width to 100 pixels, then the element's content box will be 100 pixels wide, and the width of any border or padding will be added to the final rendered width, making the element wider than 100px.
border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  /* below style can be circle or bullet */
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}

/* evide dot itt varan karanam ith elementsinu kodutha class aanu */
.navbar {
  background-color: blueviolet;
  color: black;
  height: 80px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.navbar .ul {
  display: flex;
  flex-direction: row;
}
/* navbaril ulla a kal */
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
/* navbarile a kku mukaliloode hove cheyyumbol ee style aayirikkum */
.navbar a:hover {
  border-bottom: 2px #fff solid;
}

/* below code is to use if flex is inside navbar style like this. otherwise not */
.navbar .flex {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
